<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-button routerLink="/notes">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button class="m-r-16px">
        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="addNote()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea placeholder="Title" [(ngModel)]='note.title' maxLength="100"></ion-textarea>
  <ion-textarea autoGrow="true" [(ngModel)]='note.content' placeholder="Type something..."></ion-textarea>
</ion-content>