ion-toolbar{
    ion-buttons {
        ion-button {
            border-radius: 1em;
            background: #3b3b3b;
        }
        .m-r-16px {
            margin-right: 1rem;
        }
    }
}

ion-content {
    ion-input, ion-textarea {
        font-family: Nunito;
        font-weight: 400;
    }
    ion-input {
        font-size: 3rem;
    }
    ion-textarea {
        font-size: 1.4375rem;
    }
}