<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button (click)="addNote()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea class="font-2-1875rem" placeholder="Title" [(ngModel)]='note.title' rows=1 autoGrow="true"
    maxLength="60"></ion-textarea>
  <ion-textarea autoGrow="true" #textarea [(ngModel)]='note.content'
    placeholder="Type or say something..."></ion-textarea>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="!recording">
    <ion-fab-button (click)="startRecognition()" class="btn-grey">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="recording">
    <ion-fab-button (click)="stopRecognition()" class="btn-danger">
      <ion-icon name="mic-off-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>