ion-toolbar{
    ion-buttons {
        ion-button {
            border-radius: 1em;
            background: #3b3b3b;
        }
        .m-r-16px {
            margin-right: 1rem;
        }
    }
}

ion-content {
    ion-input, ion-textarea {
        font-family: Nunito;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
    }
    ion-input {
        font-size: 48px;
        line-height: 65px;
    }
    ion-textarea {
        font-size: 23px;
        line-height: 31px;
    }
}