ion-toolbar{
    ion-searchbar {
        margin-top: 1em;
    }
    ion-buttons {
        ion-button {
            border-radius: 1em;
            background: #3b3b3b;
        }
        .m-r-16px {
            margin-right: 1rem;
        }
    }
}

ion-content {
    .ion-text-center {
        img {
            max-width: 22em;
        }
        h4 {
            margin-top: 0;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
        }
    }
}