$list: '#FD99FF', '#FF9E9E', '#91F48F', '#FFF599', '#9EFFFF', '#B69CFF', '#30BE71', '#FF0000';
ion-toolbar{
    ion-searchbar {
        margin-top: 1em;
    }
    ion-buttons {
        ion-button {
            border-radius: 1em;
            background: #3b3b3b;
        }
        .m-r-16px {
            margin-right: 1rem;
        }
    }
}

ion-content {
    .ion-text-center {
        img {
            max-width: 22em;
        }
        h4 {
            margin-top: 0;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
        }
    }
    ion-card {
        box-shadow: none;
        border-radius: 0.875rem;
        ion-card-header {
            ion-card-title {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                // color: #000;
            }
        }
    }
}

ion-list {
    background: transparent;
    ion-item-sliding {
        ion-item {
            --ion-item-background: transparent;
            ion-card {
                width: 100%;
            }
        }
    }
}