<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isSearchbarOpened">
      Notes
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="addNote()">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" name="search" [(ngModel)]="searchText" placeholder="Search by the keyword..."> 
    </ion-searchbar> 
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button class="m-r-16px" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isSearchbarOpened">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="notesService.notes.length > 0">
      <ion-item-sliding *ngFor="let note of notesService.notes | filter: searchText ; let i = index">
        <ion-item (click)="goToEdit(note.note_id)">
          <ion-card [style.backgroundColor]="changeColor()">
            <ion-card-header>
              <ion-card-title>{{note.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-card color="danger">
            <ion-item-option color="danger" (click)="remove(note.note_id)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-card>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- <ion-list>
      <ion-item-sliding >
        <ion-item>
          <ion-card [style.backgroundColor]="changeColor()" routerLink="/notes/1">
            <ion-card-header>
              <ion-card-title>UI concepts worth existing</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-card color="danger">
            <ion-item-option color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-card>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-card [style.backgroundColor]="changeColor()" routerLink="/notes/1">
            <ion-card-header>
              <ion-card-title>Book Review : The Design of Everyday Things by Don Norman</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-card color="danger">
            <ion-item-option color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-card>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-card [style.backgroundColor]="changeColor()" routerLink="/notes/1">
            <ion-card-header>
              <ion-card-title>Animes produced by Ufotable</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-card color="danger">
            <ion-item-option color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-card>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->

    <div *ngIf="notesService.notes.length === 0" class="ion-text-center">
      <img src="../../assets/img/firstNote.png" alt="Create your first note!" >
      <h4>Create your first note !</h4>
      <p>Note: You can Swipe from right to Delete a Note.</p>
    </div>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="light" (click)="addNote()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> 
</ion-content>